<h2><%= @event.name %></h2>

<a href="/events/<%= @event.id %>/edit">Edit event</a>

<p><%= @event.location.name %></p>
<p><%= @event.print_time %></p>
<p><%= @event.description %></p>

<% if @event.addable_members.count.zero? %>
  <p>All eligible members are attending this event</p>
<% elsif !@event.has_capacity? %>
  <p>This event is full</p>
<% else %>
  <h3>Add member</h3>
  <p>The <%= @event.location.name %> has <%= @event.location.capacity - @event.members.count%> spot(s) left.</p>
  <%= @event.peak? ? "<p>This is a peak event. Only premium members can be added</p>" : "" %>
  <form action="/events/<%= @event.id %>/add-member" method="post">
    <label for="members">Members</label>
    <select id="members" name="member_id">
      <% @event.addable_members.each do |m| %>
        <option value="<%= m.id %>"><%= m.full_name %></option>
      <% end %>
    </select>
    <button type="submit">Add Member</button>
  </form>
<% end %>

<h3>Members attending</h3>
<% @event.members.each do |m| %>
  <p>
    <a href="/members/<%= m.id %>"><%= m.full_name %></a> - <%= m.membership.capitalize %>
    <form action="/events/<%= @event.id %>/remove-member" method="post">
      <button type="submit" name="member_id" value="<%= m.id %>">Remove</button>
    </form>
  </p>
<% end %>
