<h2><%= @member.full_name %></h2>

<a href="/members/<%= @member.id %>/edit">Edit member</a>

<form action="/members/<%= @member.id %>/delete" method="post">
  <button type="submit" name="id" value="<%= @member.id %>">Delete member</button>
</form>

<p>This member is attending the following events:</p>
<% @member.events.each do |e| %>
<p>
  <a href="/events/<%= e.id %>"><%= e.name %></a> - <%= e.description %> - <%= e.print_time %>
</p>
<% end %>
