<h2><%= @member.full_name %></h2>

<a href="/members/<%= @member.id %>/edit">Edit member</a>

<% unless @member.events.count.zero? %>
  <p>This member is attending the following events:</p>
  <% @member.events.each do |e| %>
  <p>
    <a href="/events/<%= e.id %>"><%= e.name %></a> - <%= e.description %> - <%= e.print_time %>
  </p>
  <% end %>
<% else %>
<p>This member is not attending any events.</p>
<% end %>
