<h2>Edit location</h2>

<form action="/locations/<%= @location.id %>" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" value="<%= @location.name %>" required>

  <label for="capacity">Capacity</label>
  <input id="capacity" type="text" name="capacity" value="<%= @location.capacity %>" required>

  <button type="submit">Update Location</button>
</form>

<form action="/locations/<%= @location.id %>/delete" method="post">
  <button type="submit" name="id" value="<%= @location.id %>">Delete</button>
</form>
