<h2><%= @location.print_name %></h2>

<p>Capacity: <%= @location.capacity %></p>

<a href="/locations/<%= @location.id %>/edit">Edit</a>

<p>The following events are taking place at this location:</p>
<% @location.events.each do |e| %>
  <p>
    <a href="/events/<%= e.id %>"><%= e.name %></a> - <%= e.description %> - <%= e.print_time %>
  </p>
<% end %>
