<div class="row align-end">
  <h2><%= @location.print_name %></h2>
  <a href="/locations/<%= @location.id %>/edit"><i class="left-m material-icons">settings</i></a>
</div>
<p><strong>Capacity: <%= @location.capacity %></strong></p>

<hr>

<h4>Event List</h4>
<ul class="item-list">
  <% @location.events.each do |e| %>
    <li>
      <a href="/events/<%= e.id %>"><%= e.name %></a> - <%= e.print_date %>
    </li>
  <% end %>
</ul>
