<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>The Gym</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalise.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <nav>
      <ul>
        <li <%= request.path_info == "\/" ? "class=\"active\"" : ""%> >
          <a href="/">Home</a>
        </li>
        <li <%= request.path_info.include?("/members") ? "class=\"active\"" : ""%> >
          <a href="/members">Members</a>
        </li>
        <li <%= request.path_info.include?("/events") ? "class=\"active\"" : ""%> >
          <a href="/events">Events</a>
        </li>
        <li <%= request.path_info.include?("/locations") ? "class=\"active\"" : ""%> >
          <a href="/locations">Locations</a>
        </li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>

</html>
